html, body, #viewer {
  width: 100%;
  height: 100%;
  overflow: hidden; }

header {
  position: absolute;
  top: 0;
  color: #cccccc;
  background-color: black;
  background-image: url(/images/ereader/koobe/header.png);
  height: 40px;
  width: 100%; }
  header .navbar {
    height: 40px;
    background-position: 20px 10px;
    background-image: url(/images/ereader/koobe/logo_white_bg.png);
    background-repeat: no-repeat;
    padding-left: 200px; }
  header h1 {
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
    height: 40px;
    padding-left: 50px;
    padding-top: 15px;
    background-image: url(/images/ereader/koobe/book.png);
    background-repeat: no-repeat; }

footer {
  position: absolute;
  bottom: 0;
  color: #333333;
  background-color: #eeeeee;
  background-image: url(/images/ereader/koobe/footer.png);
  height: 30px;
  width: 100%; }
  footer .progressbar {
    height: 30px;
    background-position: right 10px top;
    background-image: url(/images/ereader/koobe/pbk.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 200px; }
    footer .progressbar #slider {
      margin-top: 12px;
      border: none;
      height: 5px;
      margin-right: 100px; }
    footer .progressbar #slider .ui-slider-handle {
      border-radius: 25px;
      width: 16px;
      height: 16px;
      top: -6px; }
    footer .progressbar #slider .ui-slider-handle.ui-state-default {
      border-color: #888;
      background-color: #fff !important;
      background-image: none; }
    footer .progressbar #slider .ui-slider-handle.ui-state-active {
      border-color: #333;
      background-color: #e6e6e6 !important;
      background-image: none; }
    footer .progressbar .page-slider .ui-slider-track.ui-mini {
      height: 6px;
      margin-left: 20px;
      border-radius: 10px;
      border-color: #aaa;
      background-color: #fff;
      box-shadow: none; }
    footer .progressbar .ui-slider-handle {
      outline: none; }
    footer .progressbar .page-slider .ui-btn {
      background-color: #fff; }
    footer .progressbar .page-num-display {
      padding-top: 10px;
      float: right;
      font-size: 11px;
      letter-spacing: 1px;
      font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
      display: inline-block;
      text-align: right; }

#viewer {
  z-index: -1;
  background-color: #424242; }

.page-switcher {
  display: block;
  text-decoration: none;
  font-size: 60px;
  position: absolute;
  vertical-align: middle;
  width: 10%;
  height: 100%;
  top: 0; }

.page-switcher i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  opacity: .2;
  color: #bcbcbc;
  text-shadow: 0px 0px 2px #FFF; }

.page-switcher:hover i {
  color: #bcbcbc;
  opacity: .6; }

.page-switcher-prev {
  left: 0;
  text-align: left; }

.page-switcher-next {
  right: 0;
  text-align: right; }

#viewer-content {
  width: 100%;
  height: 100%; }

.image-rendering {
  /*image-rendering: optimizeQuality; -ms-interpolation-mode:bicubic;*/
  /*image-rendering: -webkit-pixelated;*/
  /*image-rendering: pixelated;
    image-rendering: optimize-contrast;*/
  /*image-resolution: 300dpi;*/
  image-resolution: 300dpi;
  /*image-rendering:-moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering:-webkit-optimize-contrast; -ms-interpolation-mode:nearest-neighbor;*/ }

.image-content {
  display: none;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 0;
  bottom: 0;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transform: translate(0, 0); }

.single-page .image-content {
  width: 100%; }

.single-page .image-content {
  width: 100%; }

.panzoom-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #FFFFFF; }
