doctype html
html
  head
    title E-Reader
    // Mobile device set
    meta(charset='utf-8', name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    // Fav and touch icons

    link(href='//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css', rel='stylesheet')
    link(href='//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel="stylesheet", href="/stylesheets/ereader/ereader.css")

  body
    block body

    // SCRIPTS\
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(type='application/javascript', src='//code.jquery.com/jquery-1.11.2.min.js')
    script(type='application/javascript', src='//code.jquery.com/ui/1.11.2/jquery-ui.js')
    script(type='application/javascript', src='//timmywil.github.io/jquery.panzoom/dist/jquery.panzoom.js')
    script(type='application/javascript', src='//cdn.rawgit.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js')
    script(type='application/javascript', src='//labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.min.js')
    
    block js
