doctype html
html
  head
    title E-Reader
    // Mobile device set
    meta(charset='utf-8', name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    // Fav and touch icons

    // STYLES
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/ereader/ereader.css")
    link(rel="stylesheet", href="/stylesheets/importer.css")
    // STYLES END

  body
    block body

    // SCRIPTS
    block js
